body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  
  header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 24px;
  }
  
  #search-container {
    text-align: center;
    margin: 30px;
  }
  
  #countries-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .country-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 15px;
    padding: 15px;
    max-width: 250px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .country-card:hover {
    transform: scale(1.05);
  }
  
  .country-flag {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  a {
    text-decoration: none;
    color: #3498db;
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: #2980b9;
  }
  
  .more-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #3498db;
    color: white;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .more-button:hover {
    background-color: #2980b9;
  }
  
  
  .search-input {
    width: 400px; 
    height: 35px; 
    font-size: 16px; 
    padding: 8px; 
  }
  